.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8px 4px;
}

.products__img {
  max-width: 200px;
  max-height: 200px;
}

.products__link {
  margin-bottom: 6px;
  text-decoration: underline;
}

.heading {
  margin: 0;
  margin-bottom: 10px;
}

.tag__item {
  padding: 8px 12px;
  border-radius: 9px;
  margin: 5px;
  min-width: 160px;
  text-align: center;
}

.close_btn {
  position: absolute;
  top: 8px;
  right: 8px;
}
