.products__item {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.products__img {
}

.products__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--color-txt);
}

.products__heading {
  margin: 0;
  font-weight: 700;
  font-size: var(--heading-font-size);
  line-height: 1.15;
  text-align: center;
}

.products__link {
  text-decoration: underline;
  font-size: var(--text-font-size);
  line-height: 1.15;
  text-align: center;
}

.products__description {
  margin: 0;
  font-weight: 400;
  font-size: var(--text-font-size);
  line-height: 1.15;
  text-align: center;
}

.products__labels {
}

.close_btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.close_btn:hover > svg {
  fill: var(--color-txt);
}

.close_btn:active > svg {
  fill: var(--color-txt-dark);
}

.products__item.large {
  flex-flow: column wrap;
  align-self: flex-start;
  justify-content: flex-start;
  align-content: space-evenly;
  padding: 40px 50px 60px;
}

.large .products__img {
  max-width: 500px;
  width: 40%;
  height: 100%;
}

.large .products__text {
  max-width: 600px;
  width: 60%;
  margin-bottom: 60px;
}

.large .products__labels {
  max-width: 620px;
  width: 60%;
  min-height: 300px;
}

.products__item.medium {
  flex-flow: row-reverse wrap;
  justify-content: center;
  padding: 40px 30px 70px;
}

.medium .products__img {
  max-width: 125px;
  width: 30%;
  max-height: 125px;
  margin-bottom: 50px;
}

.medium .products__text {
  min-width: 40%;
  max-width: 68%;
  margin-right: 2%;
}

.medium .products__labels {
  width: 100%;
}

.products__item.small {
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  padding: 40px 30px 60px;
}

.small .products__img {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 20px;
}

.small .products__text {
  margin-bottom: 20px;
}

.small .products__heading {
  font-size: calc(0.8 * var(--heading-font-size));
}

.small .products__link {
  display: none;
}

.small .products__description {
  font-size: 12px;
  font-size: calc(0.48 * var(--text-font-size));
}

.small .products__labels {
  max-width: 200px;
  min-height: 240px;
  width: 80%;
  margin-top: auto;
}

@media screen and (max-width: 1600px) {
  .products__item.small {
    padding: 20px 15px;
  }

  .products__item.small {
    flex-flow: row wrap;
    justify-content: center;
  }

  .small .products__img {
    width: 40%;
    max-width: 170px;
    max-height: 170px;
    margin-bottom: 10px;
  }

  .small .products__labels {
    max-width: 500px;
    width: 90%;
    margin-top: auto;
  }

  .small .products__text {
    max-width: 60%;
  }
}

@media screen and (max-width: 1440px) {
  .products__item.medium {
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    padding: 40px 20px;
  }
  .medium .products__img {
    width: 60%;
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 20px;
  }
  .medium .products__labels {
    min-height: 240px;
    margin-top: auto;
  }
  .medium .products__text {
    max-width: 90%;
  }

  .products__item.large {
    flex-flow: row-reverse wrap;
    height: 100%;
    justify-content: center;
    padding: 40px 30px 60px;
  }
  
  .large .products__img {
    max-width: 150px;
    width: 30%;
    max-height: 150px;
    margin-bottom: 50px;
  }
  
  .large .products__text {
    min-width: 40%;
    max-width: 68%;
    margin-right: 2%;
  }
  
  .large .products__labels {
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}
