.container {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background: var(--color-white);
  }
  
  .container_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-grey);
    height: 75px;
  }
  
  .menu_link {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 20px;
    color: var(--color-txt);
    height: 100%;
    margin: 0;
    border: 2px solid transparent;
  }
  .menu_link:not(:last-child) {
    margin-right: 50px;
  }
  
  .container_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0 70px 0;
    overflow: auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 300px;
    height: 125px;
    border-radius: 12px;
    background: #fff;
    padding: 10px 0 0 0;
    border: 1px solid #e2e4e5;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: 0.5s;
  }
  
  .content:hover {
    box-shadow: 0px 3px 6px #2154fc;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
  }
  .content_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    width: 100%;
  }
  .title_container {
    width: 100%;
    border-top: 1px solid #e2e4e5;
    box-sizing: border-box;
    padding-left: 10px;
  }
  .title{
    margin: 5px 0 0 0;
  }
  .test {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 72px;
    border-radius: 7px;
    background: var(--color-white);
    border: 1px solid #d2d5e4;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
  .image_content {
    width: 60px;
    height: 66px;
    border-radius: 7px;
  }