@import url('../fonts/fonts.css');

:root {
  --color-white: #ffffff;
  --color-footer-grey: #383a4d;
  --color-black: #000000;

  --color-grey: #707070;
  --color-grey-dark: #303030;

  --color-beige: rgb(255, 249, 247);
  --color-beige-dark: rgb(255, 239, 237);

  --color-peach: rgb(249, 228, 226);
  --color-peach-dark: rgb(249, 218, 216);
  
  --color-turquoise: rgb(199, 232, 235);
  --color-turquoise-dark: rgb(179, 232, 235);
  --color-turquoise-darker: rgb(159, 232, 235);

  --color-button-grey: #292935;
  --color-button-grey-dark: #191925;
  --color-button-grey-darker: #090915;

  --color-share_pink: rgba(255, 195, 200, 0.74);
  --color-share_blue: rgba(219, 245, 255, 0.74);

  --color-darkmode-circle: #f4cac6;

  --color-main-bg: #fffbfb;

  --color-txt:  #585858;
  --color-txt-dark:  #383838;
  --color-txt-white: #f7fcff;

  --container-padding: 50px;
  --header-height: 95px;
  --header-padding: 8px;

  --heading-font-size: 77px;
  --text-font-size: 25px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: HelveticaNeue, Helvetica Neue, Arial, sans-serif;
  background-color: var(--color-main-bg);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: var(--color-white);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-peach);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.cursive {
  font-family: Quentin, sans-serif;
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
  :root {
    --container-padding: 25px;

    --heading-font-size: 60px;
    --text-font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
}