.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: var(--header-height);

    background-color: var(--color-white);
    filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.17));
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-padding) var(--container-padding);
}

.link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.header_logo {
    display: block;
    font-size: 0;
    height: calc(var(--header-height) - 2 * var(--header-padding));
}

.header_logo svg {
    width: 100%;
    height: 100%;
}

.header__btn_wrapper {
    display: flex;
    align-items: center;
}

.header__btn_wrapper :not(:last-child) {
    margin-right: 40px;
}

.header__signin-link {
}

.btn_darkMode:focus {
    transform: scale(1.02);
}
.btn_darkMode:hover,
.btn_darkMode:active {
    transform: scale(1.05);
}

.btn_darkMode:hover > svg > ellipse,
.btn_darkMode:focus > svg > ellipse,
.btn_darkMode:active > svg > ellipse {
    fill: #383a4d;
}

.btn_darkMode:hover > svg > path,
.btn_darkMode:focus > svg > path,
.btn_darkMode:active > svg > path {
    fill: #fff9f7;
}

@media screen and (max-width: 1200px) {
    .header__btn_wrapper :not(:last-child) {
        margin-right: 32px;
    }
}