.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container :not(:last-child) {
  margin-left: 5px;
  margin-right: 5px;
}

.divider {
  width: 0.5px;
  height: 30px;
  background-color: rgba(87, 87, 87, 0.51);
}
