.labels__list {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}

.labels__list.large,
.labels__list.medium {
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.labels__list.large > li,
.labels__list.medium > li {
  width: 30%;
  margin: 0 1.25%;
  margin-bottom: 18px;
}

.labels__list.large > li:nth-last-child(-n+3),
.labels__list.medium > li:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.labels__list.small {
  flex-flow: column nowrap;
}

.labels__list.small > li {
  width: 100%;
  margin-bottom: 5px;
}
