.modal__share {
  --btn-share-bgcolor-red: rgba(255, 195, 200, 0.74);
  --btn-message-bgcolor-lightblue: rgba(219, 245, 255, 0.74);
  --modal-border-color: #707070;

  width: 534px;
  height: auto;
  margin: 0;
  padding: 17px 0 32px 0;
  border: 1px solid var(--modal-share-border-color);
  border-radius: 21px;
}

.modal__header {
  text-align: center;
  line-height: 1;
  font-size: 25px;
  position: relative;
  font-weight: bold;
}

.modal__header::after {
  margin-top: 21px;
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--modal-share-border-color);
}

.modal__content {
  display: flex;
  justify-content: space-evenly;
  margin: 0 36px;
  margin-top: 50px;
}

.modal__content .modal__content_share,
.modal__content .modal__content_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 169px;
  height: 142px;
  background-color: var(--btn-share-bgcolor-red);
  text-align: center;
  color: #000;
  font-size: 20px;
  border-radius: 27px;
  animation-name: showBattons;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}

.modal__content .modal__content_message {
  background-color: var(--btn-message-bgcolor-lightblue);
  animation-delay: 0s;
}

.modal__facebook_button {
  transform: scale(1);
  transition-property: transform;
  transition: all 0.2s ease;
}

.modal__facebook_button:hover {
  transform: scale(1.05);
  transition-property: transform;
  transition: all 0.2s ease;
}

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showBattons {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.02);
  }
  70% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
