.review__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding: 16px;
}

.close_btn {
  position: absolute;
  top: 8px;
  right: 8px;
}
.close_btn:hover > svg {
  fill: var(--color-neutral_yellow-dark);
}
