.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;

  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
