@import url('../fonts/fonts.css');

:root {
  --color-white: #ffffff;
  --color-footer-grey: #383a4d;
  --color-black: #000000;

  --color-grey: #707070;
  --color-grey-dark: #303030;

  --color-beige: #fff9f7;

  --color-peach: rgb(249, 228, 226);
  --color-peach-dark: rgb(249, 218, 216);
  
  --color-turquoise: rgb(199, 232, 235);
  --color-turquoise-dark: rgb(179, 232, 235);
  --color-turquoise-darker: rgb(159, 232, 235);

  --color-share_pink: rgba(255, 195, 200, 0.74);
  --color-share_blue: rgba(219, 245, 255, 0.74);

  --color-main-bg: #fffbfb;

  --color-txt:  #585858;
  --color-txt-dark:  #383838;

  --container-padding: 50px;
  --header-height: 135px;
  --header-padding: 13px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: HelveticaNeueCyr, Helvetica Neue, Arial, sans-serif;
  background-color: var(--color-main-bg);
}

.cursive {
  font-family: Quentin, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  :root {
 
    --container-padding: 40px;
    --header-height: 108px;
    --header-padding: 10px;
  }
}