@import url('../fonts/fonts.css');

:root {
  --header-height: 80px;
  --color-white: #fff;
  --color-grey: #707070;
  --container-padding: 50px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: HelveticaNeueCyr, Helvetica Neue, Arial, sans-serif;
}

.cursive {
  font-family: Quentin, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}