.product__container {
    display: flex;
    height: 100%;
}

.products__panel {
    flex-direction: column;
    justify-content: flex-start;
}

.products__panel:not(:last-child) {
    margin-right: var(--horizontal-gap);
}
