.product__container {
  display: flex;
  height: 100%;
}
.product__container > :not(:last-child) {
  margin-right: var(--horizontal-gap);
}

.products__panel {
  flex-direction: column;
  justify-content: flex-start;
}
