.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  max-width: 1840px;
  min-height: 100vh;
  margin: 0 auto;
  padding: calc(var(--header-height) + 25px) var(--container-padding) 25px;
}
